@font-face {
    font-family: Shabnam;
    src: url('../fonts/Shabnam.ttf') format('truetype');
    font-weight: normal;
  }

*{
    margin: 0;
    padding: 0 ;
}

body{
    font-family: Shabnam;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    direction: rtl;
    
}

main{
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

.dashboard{
    width: 17vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #6256e6;
    font-family: Shabnam;
    font-weight: bold;
}

.dateAndTime{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
    font-weight: bold;
    font-size: 10px;
}

.time{
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.date{
    font-size: 10px;
    font-weight: bold;
}

.gapInfo{
    clear: both;
    width: 100%;
    height: 40px;
}

.gapDashboard{
    clear: both;
    width: 100%;
    height: 80px;
}

.userInfo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.userPhoto{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-left: 15px;  
}

.textInfo{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: bold;
    color: #424242;
}

.userVocation{
    color: #9d9d9d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.miniArrow{
    width: 8px;
    height: 6px;
    padding-right: 9px;
}

.userVocation{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userVocation p{
    font-size: 10px;
}

.dashboardMenu{
    width: 10vw;
    height: 60vh;
    font-size: 12px;
    display: flex;
    flex-direction: column; 
}

.lableMenu {
    width: 10vw;
    font-size: 12px;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 13px;
} 

.lableMenu h2{
    font-size: 12px;
    padding-right: 5px;
}

.fas.fa-desktop:before {
    content: "\f108"; 
    width: 30px;
    height: 30px;
}

.fa-book:before {
    content: "\f02d"; 
}

.fa-ticket-alt:before {
    content: "\f3ff"; 
}

.fa-newspaper:before {
    content: "\f1ea"; 
}

.fa-cog:before {
    content: "\f013"; 
}

.fa-comment-alt:before {
    content: "\f27a"; 
}

.fa-edit:before {
    content: "\f044";
    color: white;
 }
    
.dashboardBox{
    width: 10vw;
    display: flex;
    flex-direction: column;
}

.dashboardBox ul li a{
    text-decoration: none;
    color: #9d9d9d;
}

.dashboardBox li{
    text-decoration: none;
}

ul li{
    color: #9d9d9d;
    text-decoration: none;
    list-style: none;
    
}

ul li ul {
    padding-bottom: 13px;
    margin-right: 30px;
}

ul{
    display: flex;
    flex-direction: column;
    padding-bottom: 17px;
    
}

.miniArrowBottom{
    transform: rotate(-90deg);
    width: 8px;
    height: 6px;
}

.listItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 17px;
    font-weight: bold;
}

.listItem a{
    padding-right: 5px;
}

.listItemLable{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.notifRed{
    width: 15px;
    height: 15px;
    border-radius: 8px;
    background-color: #f4365c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    /* margin-right: 40px; */
}

.container{
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    
}

.reports{
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 18px;
}

.userCount , .ticketCount , .encyclopediaCount , .newsCount{
    width: 23.5%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 900;
    
}

.content{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 15px;
    padding-top: 10px;
    color: white;
    font-size: 12px;
    color: #020010;
}

.lable{
    color: #9d9d9d;
    /* padding-top: 10px; */
}

.contentUser{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 10px;
}

.contentUser .lable{
    font-size: 10px;
    /* padding-top: 8px; */
}

.content {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 15px;
    
    color: white;
    font-size: 12px;
    color: #020010;
}

.count{
    font-size: 18px;
}

.contentUser p{
    padding-left: 10px;
}

.lableCount{
    width: 22%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px 0px 0px 4px;
}

.imagLable{
    width: 35px;
    height: 25px;
}

.user{
    background-image: linear-gradient(#805fe4,#7068e1, #5e72e3);
}

.ticket{
    background-image: linear-gradient(#fec63b,#f5b12a, #f19c1b);
}

.encyclopedia{
    background-image: linear-gradient(#f3477f,#f0466d, #ed4650); 
}

.news{
    background-image: linear-gradient(#21c6f6,#39a8fa, #607dfd); 
}

.fas{
    padding-left: 5px;
}

.fa-arrow-down , .down{
    color: #13c98e;
}

.fa-arrow-up , .up{
    color: #e53935;
}

.report{
    color: #6155e5;
}


.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.acts{
    padding-bottom: 18px;
    width: 100%;
    height: 300px;
}

.note{
    width: 60%;
    height: 100%;
    background-image: linear-gradient(135deg, #8d5fe5,#7b68e5, #5e68e4); 
    border-radius: 4px;
}

.headerNote{
    display: flex;
    justify-content: flex-end;
    padding : 15px 0px 0px 20px ;
}

.summaryAct{
    width: 38%;
    height: 100%;
    background-color: white;
    border-radius: 4px;
}



.actsHeader{
    width: 100% - 50px;
    height: 30px;
    padding : 25px 25px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.actsHeader .borderBotton{
    border-bottom: 2px solid #6256e8;
    font-size: 13px;
    font-weight: bold;
}

.summaryMenu{
    width: 70px;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 10px;
    font-weight: bold;
    border : 1px solid #c5c9cc ;
    border-radius: 7px;
    color: #757f88;
}


.actMenu{
    
    display: flex;
    padding-bottom: 0px;
}

.fa-angle-down{
    padding : 0px ;
}


.ticketsAndMessage{
    width: 100% ;
    height: 100%  ;
    padding-bottom: 15px;
}
.tickets{
    width: 60%;
    min-height: 120px ;
    background-color: white;
    display: flex;
    border-radius: 4px;
}

.notifGray{
    width: 25px;
    height: 20px;
    background-color: #ededed;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
}

.ticketsHeader{
    width: 100%;
    min-width: 50%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 25px 25px 0px 0px;
}

.startickets{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 2px solid #6257e4;
    font-size: 12px;
    font-weight: bold;
    margin-left: 15px;
}

.startickets .colorBoxGray{
    margin-right: 8px;
}

.res , .nores , .close {
    border: none;
    opacity: 30%;
}

.messageBox{
    width: 38%;
    min-height: 20vh;
    background-color: white;
    border-radius: 4px;
}

.massageHeader{
    /* width: 100%; */
    height: 50px;
    padding: 25px 25px 0px 0px ;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 2px solid #f8f8f8;
  
}

.masBox{
    width: 17%;
    min-width: 60px;
    height: 30px;
    border-bottom: 2px solid #6257e4;
}
