@font-face {
    font-family: Shabnam;
    src: url('../fonts/Shabnam.ttf') format('truetype');
    font-weight: normal;
  }

  @font-face {
    font-family: "IRANYekan";
    src: url("235b71a9b409e684e865eb4a996e925e.eot"); /* IE9*/
    src: url("235b71a9b409e684e865eb4a996e925e.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("235b71a9b409e684e865eb4a996e925e.woff2") format("woff2"), /* chrome、firefox */
    url("235b71a9b409e684e865eb4a996e925e.woff") format("woff"), /* chrome、firefox */
    url("../fonts/IRANYekan.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("235b71a9b409e684e865eb4a996e925e.svg#IRANYekan") format("svg"); /* iOS 4.1- */
  }

*{
    margin: 0;
    padding: 0 ;
}

body{
    font-family: Shabnam;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    direction: rtl;
    
}

main{
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

.dashboard{
    width: 15.6vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: #6256e6;
    font-family: Shabnam;
    font-weight: bold;
}

.dateAndTime{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 38px;
    font-size: 10px;
    color: #6356e4;
}

.time{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    
}

.hour {
    font-weight: bold;
    font-size: 27px;
    color: #6356e4;
}

.minute{
    font-size: 27px;
    padding-left: 7px;
    font-weight: lighter;
    color: #6356e4;
}

.date{
    font-size: 11px;
    font-weight: bold;
    color: #8995eb;
}

.gapInfo{
    clear: both;
    width: 100%;
    height: 34px;
}

.gapDashboard{
    clear: both;
    width: 100%;
    height: 63px;
}

.userInfo{
    /* width: 80px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.userPhoto{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-left: 15px; 
    
}

.textInfo{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: bold;
    color: #424242;
}

.userName{
    font-size: 12px;
    font-weight: bold;
    color: rgb(131, 131, 131);
    padding-bottom: 5px;
}

.userVocation{
    /* width: 30%; */
    color: #9d9d9d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 8px;
    font-weight: bold;
    opacity: 0.7;
}

.miniArrow{
    width: 8px;
    height: 6px;
    padding-right: 10px;
}

.userVocation{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userVocation p{
    font-size: 10px;
}

.dashboardMenu{
    width: 63%;
    height: 60vh;
    font-size: 12px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    
}

.lableMenu {
    width: 100%;
    font-size: 12px;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 18px;
    /* padding-right: 5px; */
} 

.lableMenu h2{
    font-size: 12px;
    padding-right: 5px;
}

.fas.fa-desktop:before {
    content: "\f108"; 
    width: 30px;
    height: 30px;
}

.fa-book:before {
    content: "\f02d"; 
}

.fa-ticket-alt:before {
    content: "\f3ff"; 
}

.fa-newspaper:before {
    content: "\f1ea"; 
}

.fa-cog:before {
    content: "\f013"; 
}

.fa-comment-alt:before {
    content: "\f27a"; 
}

.fa-edit:before {
    content: "\f044";
    color: white;
 }
    
.dashboardBox{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dashboardBox ul li a{
    text-decoration: none;
    color: #b1b1b1;
}

.subList{
    padding-bottom: 12px;
    font-size: 10px;
    font-weight: bold;
}

.subList:last-child{
    padding-bottom: 20px;
}

.dashboardBox li{
    text-decoration: none;
}

ul li{
    color: #9d9d9d;
    text-decoration: none;
    list-style: none;
    /* padding-bottom: 20px; */
}

ul li ul {
    /* padding-bottom: 13px; */
    margin-right: 20px;
}

ul{
    display: flex;
    flex-direction: column;
    /* padding-bottom: 17px; */
    
}


.miniArrowBottom{
    transform: rotate(-90deg);
    width: 8px;
    height: 6px;
}

.listItem{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 19px;
    font-weight: bold;
}

.listItem a{
    padding-right: 5px;
    
}

.listItemLable{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    color: #bebebe;
    font-weight: bolder;
}

.notifRed{
    width: 15px;
    height: 14px;
    border-radius: 6px;
    background-color: #f4365c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    /* margin-right: 40px; */
}

.container{
    width: 84vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 19px;
    padding-right: 19px;
    
}

.reports{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 19px;
}

.userCount , .ticketCount , .encyclopediaCount , .newsCount{
    width: 23.6%;
    height: 88px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 900;
    
}

.content{
    height: 81%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 13px;
    padding-top: 9px;
    color: white;
    font-size: 12px;
    color: #020010;
}

.lable{
    color: #9e9e9e;
    font-size: 11px;
    font-weight: bolder;
    /* font-stretch: initial; */
    /* padding-top: 10px; */
}

.contentUser{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding-left: 5px; */
}

.contentUser .lable{
    font-size: 10px;
    font-weight: bold;
    /* padding-top: 8px; */
}

.content {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 18px;
    
    color: white;
    font-size: 12px;
    color: #020010;
}

.count {
    padding-top: 4px;
    font-size: 18px;
    color: #080320;
    font-weight: lighter;
}

.contentUser p {
    padding-left: 5px;
    font-weight: bold;
}

.lableCount{
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0px 0px 5px;
}

.imagLable {
    width: 43px;
    height: 29px;
    padding-bottom: 5px;
}

.first{
    width: 37px;
    height: 27px;
}
.second{
    width: 35px;
}

.last{
    width: 25px;
}

.user{
    background-image: linear-gradient(#805fe4,#7068e1, #5e72e3);
}

.ticket{
    background-image: linear-gradient(#fec63b,#f5b12a, #f19c1b);
}

.encyclopedia{
    background-image: linear-gradient(#f3477f,#f0466d, #ed4650); 
}

.news{
    background-image: linear-gradient(#21c6f6,#39a8fa, #607dfd); 
}

.fas{
    padding-left: 5px;
}

.fa-arrow-down , .down{
    color: #e53935;
    font-size: 14px;
}

.fa-arrow-up , .up{
    color: #13c98e;
    font-size: 14px;
}

.report{
    color: #6155e5;
    font-size: 14px;
}


.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.acts{
    
    width: 100%;
    height: 44.6vh;
    margin-bottom: 20px;
}

.note{
    width: 61%;
    height: 100%;
    background-image: linear-gradient(135deg, #8d5fe5, #5e68e4); 
    border-radius: 4px;
}

.headerNote{
    display: flex;
    justify-content: flex-end;
    padding : 15px 0px 0px 25px ;
}

.summaryAct{
    width: 37.4%;
    height: 100%;
    background-color: white;
    border-radius: 4px;
    /* padding: 25px 25px 0px 30px; */
    
}

.actsHeader{
    /* width: 100% - 50px; */
    height: 30px;
    padding : 25px 25px 0px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}

.actsHeader .borderBotton{
    border-bottom: 2px solid #6256e8;
    font-size: 13px;
    font-weight: bold;
    height: 31px;
    color: #59595b;
}

.summaryMenu{
    width: 67px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 10px;
    font-weight: bold;
    border : 1px solid #c5c9cc ;
    border-radius: 4px;
    color: #757f88;
}


.actMenu {
    display: flex;
    padding-bottom: 0px;
    padding-right: 5px;
    font-stretch: narrower ;
    font-weight: bold;
    color: rgb(145, 145, 145);
}

.fa-angle-down:before {
    content: "\f107";
    
}


.ticketsAndMessage{
    width: 100% ;
    height: 100%  ;
    padding-bottom: 15px;
}
.tickets{
    width: 61%;
    min-height: 120px ;
    background-color: white;
    display: flex;
    border-radius: 4px;
    flex-direction: column;
}

table{
    width: 100%;
}

.tableTickets{
    width: 100%;
}

/* .tableTickets table{
    width: 100%;
    border-collapse: collapse;
    align-items: center;
    font-family: Shabnam;
} */

.tableHeader {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 10px;
    padding-right: 38px;
}

.tableHeader th:first-child {
    /* margin-left: 106px; */
    /* padding-right: 11px; */
}

.tableHeader th:nth-child(2) {
    /* padding-left: 25px; */
}

/* table tr:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 35px;
    font-size: 12px;
} 
*/
tr {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* justify-content: space-between; */
    padding: 5px 0px ;
    border-bottom: 0.1px solid #e9e9e9;
} 

tr:first-child{
    border: none;
}

.td-1{
    width: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.td-2 {
    width: 22%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.td-3 {
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.td-4 {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

/* td{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}  */

td:first-child{
    width: 38%;
}

/* td:last-child{
    padding-right: 5px;
} */

.td1 {
    padding-right: 15px;
    padding-left: 5px;
}

.fa-clipboard:before {
    content: "\f328"; 
}

.far{
    color: #6355e6;
    transform: rotate(-45deg);
}

.category p:last-child{
    color: #6355e6;
}

.subject{
    font-size: 10px;
    color: #424242;
    /* margin-bottom: 5px; */
}

.subjectMessage{
    font-size: 10px;
    color: #424242;
    margin-bottom: 5px;
}

.lastSeen{
    font-size: 7px;
    font-weight: bold;
    color: #9f9f9f;
}

.name{
    font-size: 9px;
    font-weight: bold;
    color: #8b8b8b;
}

tr:first-child{
    background-color: #f8f8f8;
}

tr:nth-child(5){
    box-shadow: 2px 2px 10px   #a7a7a7;
    border-radius: 4px;
}

.data{
   display: flex;
   flex-direction: column; 
   padding-right: 15px;
}

.data p:nth-child(2){
    padding: 0px 5px;
    color: #616161;
}

.data  p:last-child{
    padding-right: 5px;
}

.rectB {
    width: 5px;
    height: 18px;
    padding-right: 17px;
}

.category{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 8px;
    padding-top: 5px;
}

tr .category .checkbox {
    padding-right: 10px;
}

.photo{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-left: 10px;
    margin-right: 6px;
}

.priority{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.level{
    font-size: 9px;
    padding-right: 10px;
    color: #8b8b8b;
}

.notifGray{
    width: 20px;
    height: 14px;
    background-color: #ededed;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    font-weight: bold;
    margin-right: 5px;
    color: gray;
}

.ticketsHeader{
    /* width: 100%; */
    min-width: 50%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 30px 0px 30px;
    margin-bottom: 20px;
}

.startickets{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #6257e4;
    font-size: 13px;
    font-weight: bold;
    /* margin-left: 23px; */
    color: #59595b;
    padding-bottom: 15px;
}

.startickets .colorBoxGray{
    margin-right: 8px;
}

.res , .nores , .close {
    border: none;
    opacity: 60%;
    color: rgb(158, 158, 158);
    font-size: 11px;
}

.messageBox{
    width: 37.4%;
    min-height: 20vh;
    background-color: white;
    border-radius: 4px;
}

.massageHeader{
    /* width: 100%; */
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 28px 0px 30px ;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 2px solid #f8f8f8;
  
}

.masBox{
    width: 65px;
    min-width: 60px;
    height: 32px;
    border-bottom: 2px solid #6257e4;
    font-size: 13px;
    font-stretch: extra-expanded;
    color: #59595b;
}

.shadow{
    box-shadow: 1px 1px 5px  rgb(230, 230, 230);
}

.tableMessage tr td{
    display: flex;
    flex-direction: row;
}

.photoMessage{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    /* margin-left: 20px; */
    margin-right: 30px;
}

.contentBoxMessage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
}

.lastSeen-message{
    font-size: 8px;
}

.headMessage{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.topMessage{
    display: flex;
    justify-content: flex-start;
    font-size: 10px;
}

.headMessage p{
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
}

.headMessage p:last-child{
    font-size: 8px;
}

.notifMessage {
    width: 25px;
    height: 12px;
    background-color: #f5375d;
    font-size: 6px;
    margin-left: 5px;
    padding: 0px 5px;
    border-radius: 30px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
}

.td1-massBox {
    width: 22%;
    display: flex;
    align-items: center;
}

.td2-massBox{
    width: 75%;
    display: flex;
    justify-content: flex-start;
}

.rowMassBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 17px;
    padding-top: 12px;
    border-bottom: 2px solid #f8f8f8;

}

.massage{
    font-size: 8px;
}
